<form role="form">
  <div class="form-group">
    <label for="sample">URL</label>
    <input type="text" class="form-control" ng-model="config.url" placeholder="Enter url">
  </div>

  <div>
    <label> Chart </label>
  </div>

  <div class="form-group">
    <label class="sr-only" for="desc">Description</label>
    <input type="text" id="desc" class="form-control" ng-model="config.desc" placeholder="Enter Description of the data">
  </div>

  <div>
    <label> Label </label>
  </div>

  <div class="form-group">
    <label class="sr-only" for="label">Label</label>
    <input type="text" id="label" class="form-control" ng-model="config.label" placeholder="Path of the Label">
  </div>

  <div>
    <label> Value </label>
  </div>

  <div class="form-group">
    <label class="sr-only" for="value">Value</label>
    <input type="text" id="value" class="form-control" ng-model="config.value" placeholder="Path of the first value">
  </div>

  <div class="form-group">
    <label class="sr-only" for="value2">Value2</label>
    <input type="text" id="value2" class="form-control" ng-model="config.value2" placeholder="Path of the Second value">
  </div>


  <div>
    <label> Chart Type </label>
  </div>

  <div class="form-group">
    <label class="sr-only" for="sample">Chart Type</label>
    <select class="form-control" ng-model="config.type">
      <option value="line"> Line </option>
      <option value="bar"> Bar </option>
      <option value="horizontalBar"> Horizontal Bar </option>
      <option value="radar"> Radar </option>
    </select>
  </div>

  <div>
    <input type="checkbox" ng-model="expert"> Expert Mode
  </div>

  <div ng-show="expert">
    <div class="form-group">
      <label class="sr-only" for="database"> Database </label>
      <input type="text" id="database" class="form-control" placeholder="Database" ng-model="config.database">
    </div>
    <div class="form-group">
      <label class="sr-only" for="query">Query</label>
      <textarea id="query" class="form-control" rows="5" placeholder="Query" ng-model="config.expert"></textarea>
    </div>
  </div>

</form>
