<div>
  <div ng-hide="pt.data" class="alert alert-info" role="alert">
    Please insert a url to the widget configuration
  </div>
  <div ng-show="pt.data">
    <div class="text-center">
      <input type="search" ng-model="q" placeholder="Filter" class="form-control">
    </div>
    <div class="table-responsive"> <!-- Add Horizontal Scroll Bad -->
      <table  class="table">
        <tr>
          <th ng-repeat="head in pt.data.headers" ng-click="pt.sortIndex($index)">
            {{head}}
          </th>
        </tr>
        <tr ng-repeat="row in filterData = (pt.data.rows | filter:q )| orderBy:pt.sorter:pt.reverseSort| startFrom: (pt.data.currentPage-1)*pt.data.itemPerPage | limitTo:pt.data.itemPerPage track by $index" ng-click="pt.open(row)">
          <td ng-repeat="col in row track by $index">
            {{col}}
          </td>
        </tr>
      </table>
    </div>
    <div class="text-center">
      <ul uib-pagination total-items="filterData.length" ng-model="pt.data.currentPage" max-size="pt.data.maxSize" class="pagination-sm" boundary-links="true"items-per-page="pt.data.itemPerPage" num-pages="numPages"></ul>
    </div>
  </div>
</div>
