<div>
  <div ng-hide="graph.series" class="alert alert-info" role="alert">
    Please insert a url to the widget configuration
  </div>
  <div ng-show="graph.series">
    <div>
      <div id="{{graph.id}}" ng-class="{click : graph.config.mode == 'std'}">
      </div>
    </div>
    <div>
      <p class="text-center"> {{graph.desc}} </p>
    </div>
    <!-- <my-export chart=graph.chart></my-export> -->
    <a ng-click=graph.export($event)>
      <button type="button" class="btn btn-info" >
        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
      </button>
    </a>
    <button type="button" class="btn btn-success" ng-csv="graph.series" field-separator=";" filename="{{$parent.model.title + '.csv'}}">
      <i class="fa fa-file-excel-o" aria-hidden="true"></i>
    </button>
  </div>
</div>
