<div>
  <div ng-hide="graph.label" class="alert alert-info" role="alert">
    Please insert a url to the widget configuration
  </div>
  <div ng-show="graph.label">
    <div>
      <div id="{{graph.id}}" ng-class="{click : graph.config.mode == 'std'}">
      </div>
    </div>
    <div>
      <p class="text-center"> {{graph.desc}} </p>
    </div>
    <my-export chart=graph.chart></my-export>
    <button type="button" class="btn btn-success" ng-csv="graph.value" csv-header="graph.label" field-separator=";" filename="{{$parent.model.title + '.csv'}}">
      <i class="fa fa-file-excel-o" aria-hidden="true"></i>
    </button>
  </div>
</div>
