<div>
  <div ng-hide="graph.label" class="alert alert-info" role="alert">
    Please insert a url to the widget configuration
  </div>
  <div ng-show="graph.label">
    <div>
      <canvas id="graph" class="chart-base" ng-class="{click : graph.config.mode == 'std'}" chart-type="graph.type" chart-data="graph.value" chart-labels="graph.label" chart-colors="graph.config.color"chart-options="graph.options" chart-click="graph.open">
      </canvas>
    </div>
    <div>
      <p class="text-center"> {{graph.desc}} </p>
    </div>
    <my-export chart=graph.chart></my-export>
  </div>
</div>
