
    <div class="modal-header">
      <h3 class="modal-title" id="modal-title"> Title </h3>
    </div>
    <div class="modal-body" id="modal-body">
      {{cm.un}}
      <table  class="table">
        <tr>
          <th ng-repeat="head in cm.data.headers" ng-click="pt.sortIndex($index)">
            {{head}}
          </th>
        </tr>
        <tr ng-repeat="row in cm.data.rows| orderBy:pt.sorter:pt.reverseSort track by $index">
          <td ng-repeat="col in row">
            {{col}}
          </td>
        </tr>
      </table>
    </div>
