<div>
  <div ng-hide="cv.data" class="alert alert-info" role="alert">
    Please insert a url to the widget configuration
  </div>
  <div ng-show=cv.data ng-click="cv.open()">
    <div ng-if="!cv.data.config.pourcent">
      <div class="text-center">
        <div>
            <i ng-show="cv.data.ok" class="fa fa-check fa-4x text-success" aria-hidden="true">{{cv.data.data}}</i>
            <i ng-hide="cv.data.ok" class="fa fa-times fa-4x text-danger" aria-hidden="true">{{cv.data.data}}</i>
        </div>
        <p uib-tooltip="{{cv.data.config.tooltip}}"tooltip-placement="bottom"> {{cv.data.config.desc}} : {{cv.data.data}}</p>
      </div>
    </div>
    <div ng-if="cv.data.config.pourcent">
      <div class="row">
        <div class="text-center  bdr-right col-md-8">
          <h1 class="no-margin">
            {{cv.data.data}}
          </h1>
          <small> {{cv.data.config.desc}}  </small>
        </div>
        <div class="col-md-4 align-middle text-center">
          <div ng-if="!cv.data.zero" class="align-middle text-center" uib-tooltip ="{{sv.data.lastWeek}}">
            <span ng-if="cv.data.ok && cv.data.positif" class="text-success"> <i class="fa fa-caret-up fa-2x text-success" aria-hidden="true"> {{cv.data.percentData}} </i> %</span>
            <span ng-if="!cv.data.ok && !cv.data.positif" class="text-danger"> <i class="fa fa-caret-down fa-2x" aria-hidden="true"> {{cv.data.percentData}} </i> % </span>
            <span ng-if="!cv.data.ok && cv.data.positif" class="text-danger"> <i class="fa fa-caret-up fa-2x" aria-hidden="true"> {{cv.data.percentData}} </i> % </span>
            <span ng-if="cv.data.ok && !cv.data.positif" class="text-success"> <i class="fa fa-caret-down fa-2x" aria-hidden="true"> {{cv.data.percentData}} </i> % </span>
          </div>
          <span ng-if="cv.data.zero" class="text-warning text-center align-middle"> <i class="fa fa-caret-right fa-2x" aria-hidden="true">{{cv.data.percentData}} </i> <small>%</small> </span>
          <p class="text-center" uib-tooltip="{{cv.data.config.tooltip}}"tooltip-placement="bottom"> {{cv.data.config.descPercent}}
          </p>
        </div>
      </div>
    </div>
    <p ng-show="cv.datTest"> {{cv.datTest}} </p>
  </div>
</div>
