<h1> Accueil Dashboard Infra </h1>

<p> Page de Test </p>
{{test.interval}}
<div style="height : 350px">
  <div uib-carousel active="active" interval ="test.interval" no-wrap="test.nowrap">
    <div uib-slide ng-repeat="slide in test.slides track by $index" index="$index">
      <div style="height : 305px">
        <h1 style="font-size: 150px"> {{slide.value}} </h1>
        <small style="font-size: 75px"> {{slide.desc}} </small>
      </div>
    </div>
  </div>
</div>
<p> {{auth.user.displayName}} </p>

<select>
  <option> <a> aa <a> <div> <a> aa </a></div></a><option>

</select>

<p access-Level="admin"> OK </p>
