<div ng-if="editMode" class="alert alert-info"> Mode Edition activé, Pensez à sauvegarder les changements une fois terminés.
  <button type=button class="btn btn-info pulse" ng-click="toggleEditMode()"><i class="glyphicon glyphicon-save"></i> Sauvegarder </button>
 </div>

<h1>
  {{model.title}}
  <span style="font-size: 16px" class="pull-right">
    <a href="" ng-if="editMode" title="Déplacer le Dash" ng-controller="copyCtrl as cp" ng-click="cp.copyDialog()">
      <i class="glyphicon glyphicon-copy" aria-hidden=true></i>
    </a>
    <a href="" ng-if="editMode" title="Ajouter un Widget" ng-click="addWidgetDialog()">
      <i class="glyphicon glyphicon-plus-sign"></i>
    </a>
    <a href="" ng-if="editMode" title="Editer le dashboard" ng-click="editDashboardDialog()">
      <i class="glyphicon glyphicon-cog"></i>
    </a>
    <a href="" access-level="{{model.env}}" ng-if="options.editable" title="{{editMode ? 'Sauvegarder' : 'Mode Edition'}}" ng-click="toggleEditMode()">
      <i class="glyphicon" x-ng-class="{'glyphicon-edit' : !editMode, 'glyphicon-save' : editMode}"></i>
    </a>
    <a href="" ng-if="editMode" title="Annuler les changements" ng-click="cancelEditMode()">
      <i class="glyphicon glyphicon-repeat adf-flip"></i>
    </a>
  </span>
</h1>
