<div class="alert alert-warning alert-group">
    <div class="form-inline">
        <!-- <select ng-options="o.name as o.name for o in operators" ng-model="group.operator" class="form-control input-sm"></select> -->
        <button style="margin-left: 5px" type="button" ng-click="addCondition()" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Ajouter une Condition</button>
        <button ng-if="!$parent.group" style="margin-left: 5px" type="button" ng-click="addGroup()" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Ajouter un Groupe</button>
        <button style="margin-left: 5px" type="button" ng-click="removeGroup()" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-minus-sign"></span> Retirer le Groupe</button>
    </div>
    <div class="group-conditions">
        <div ng-repeat="rule in group.rules | orderBy:'index'" class="condition">
            <div ng-switch="rule.hasOwnProperty('group')">
                <div ng-switch-when="true">
                    <query-builder group="rule.group" fields="$parent.fields" database="$parent.database"></query-builder>
                </div>
                <div ng-switch-default="ng-switch-default">
                    <div class="form-inline">
                        <input type="checkbox" ng-model="rule.not"> <label> Non </label>
                        <select ng-options="t as t.name for t in fields track by t.name" ng-model="rule.field" class="form-control input-sm"></select>
                        <select style="margin-left: 5px" ng-options="c.name as c.name for c in conditions" ng-model="rule.condition" class="form-control input-sm"></select>
                        <span ng-switch="rule.field.type">
                          <select ng-switch-when="bool" style="margin-left: 5px" type="text" ng-model="rule.data" class="form-control input-sm"/>
                            <option value ="1"> OK </option>
                            <option value="0"> KO </option>
                          </select>
                          <input type="text" ng-switch-when="principal" placeholder="Autocomplete" autocomplete="off" uib-typeahead="val for val in getColValue(rule.field.Field)" typeahead-min-length="0" ng-model="rule.data" class="form-control input-sm"/>
                          <input ng-switch-default style="margin-left: 5px" type="text" ng-model="rule.data" class="form-control input-sm"/>
                        </span>
                        <input ng-if="rule.condition === 'entre'" style="margin-left: 5px" type="text" ng-model="rule.data2" class="form-control input-sm"/>
                        <button style="margin-left: 5px" ng-click="removeCondition($index)" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-minus-sign"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
