<ui-select ng-model="model.selected" ui-select-focuser theme="bootstrap" ng-keyup="event($event, $select)">
  <ui-select-match placeholder="Selectionner la DataSource" >
    {{$select.selected.url}}
  </ui-select-match>
  <ui-select-choices repeat="address in addresses | filter: $select.search">
    <div class="thefuck"  ng-mouseover="changeFocus($select, $index)">
      <div>
        <span ng-bind-html="address.url.substr(address.url.lastIndexOf('/') + 1) | highlight:$select.search"></span>
        <span class="info" ng-switch="address.type">
          <i ng-switch-when="graph" class="fa fa-line-chart" aria-hidden="true" uib-tooltip="Uniquement disponible pour le widget tableau Paginé"></i>
          <i ng-switch-when="list" class="fa fa-list-alt" aria-hidden="true"></i>
          <i ng-switch-when="check" class="fa fa-check-square" aria-hidden="true"></i>
        </span>
      </div>
      <div>
        <small ng-bind-html="address.desc"></small>
      </div>
      <a href="" ng-show="address.parent" class="nextAddress" ng-click="loadNextAddress(address, $select)">
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
  </ui-select-choices>
</ui-select>
