<!-- Custom Template for autocompletion -->
<script type="text/ng-template" id="autocomplete.html">
  <a>
    <span ng-bind-html="match.model.url | uibTypeaheadHighlight:query"></span> |
    <small ng-bind-html="match.model.desc | uibTypeaheadHighlight:query"></small>
  </a>
</script>

<div class="form-inline padding-bottom">
  <input type="checkbox" ng-model="config.master" id=master> <label for=master> Master </label>
  <input ng-if="config.mode == 'easy' || 'expert'" id=listener type="checkbox" ng-model="config.listener"> <label ng-if="config.mode == 'easy' || 'expert'" for=listener> Slave </label>
</div>
<form role="form">
  <!-- <div>
    <label for="sample">Datasource</label>
    <div ng-show="config.url" class="alert alert-info text-center"> {{pt.config.url}} </div>
    <selecttree model="pt.config.datasource"></selecttree>
  </div> -->

  <hr>

  <input type="radio" ng-model="config.mode" value="easy" id=easy> <label for=easy> Mode Facile </label>
  <input type="radio" ng-model="config.mode" value="std" id=std> <label for=std> Mode Standard </label>
  <input type="radio" ng-model="config.mode" value="exp" id=exp> <label for=exp> Mode Expert </label>

  <!-- Mode easy -->

  <div class="form-group" ng-if="config.mode == 'easy'">
    <easy-mode config=config><easy-mode>
  </div>

  <div class="form-group" ng-if="config.mode == 'std'">
    <div class="form-group">
      <label for="sample"> Datasources</label>
      <input id="sample" type="text" class="form-control" ng-model="config.databaseStandard" placeholder="Type du Check" autocomplete="off" uib-typeahead="database for database in pt.getDatabase($viewValue)" typeahead-min-length='0' typeahead-on-select="pt.getStandardColumns(config.databaseStandard)">
    </div>

    <div class="form-group">
      <label for="standardTest"> Condition :  </label>
    </div>

    <p ng-hide="config.principalCol.length"> Choissisez une datasource ! </p>

    <div ng-if="config.principalCol.length">
      <label> <small> Choix de la Référence </small> </label>
      <query-builder  group="config.condition.group" fields="config.principalCol" database="config.databaseStandard"></query-builder>
    </div>
    <div ng-if="config.condition.group.rules[0] && config.condition.group.rules[0].data">
      <label> <small> SEC </small></label>
      <query-builder  group="config.condition2.group" fields="config.otherCol" database="config.databaseStandard"></query-builder>
    </div>

  </div>


  <div ng-if="config.mode == 'exp'">
    <expert-mode config=config></expert-mode>
  </div>

  <hr>

  <div>
    <label>Colonne </label>
  </div>

  <p> Première configuration automatique </p>
  <div ng-repeat="col in pt.config.columns">
    <div class="form-inline padding-bottom" >
      <div class="form-group">
        <label class="sr-only" for="title-{{$index}}">Title</label>
        <input type="text" id="title-{{$index}}" class="form-control" placeholder="Title" ng-model="col.title" required="">
      </div>
      <div class="form-group">
        <label class="sr-only" for="path-{{$index}}">Path</label>
        <input type="text" id="path-{{$index}}" class="form-control" placeholder="Path" ng-model="col.path" required="">
      </div>

      <button type="button" class="btn btn-warning" ng-click="pt.removeColumn(false, $index)">
        <i class="fa fa-minus"></i> Remove
      </button>
    </div>
    <div class="form-inline padding-bottom">
      <label for="opt-{{$index}}">Booléen</label>
      <input type="radio" id="opt-{{$index}}" class="" ng-model="col.opt" value="bool">

      <label for="opt2-{{$index}}">Seuil</label>
      <input type="radio" id="opt2-{{$index}}" class="" ng-model="col.opt" value="seuil">
    </div>

    <div ng-if="col.opt == 'seuil'">
      <p> En DEV </p>
    </div>
  </div>

  <button type="button" class="btn btn-primary" ng-click="pt.addColumn(false)">
    <i class="fa fa-plus"></i> Add
  </button>

  <hr>

  <div>
    <input type="checkbox" id=header ng-model=config.head > <label for="header"> Cacher l'en-tête </label>
  </div>

  <div>
    <label> Pagination </label>
  </div>

  <div class="form-group">
    <label class="sr-only" for="maxSize"> Nombre d'Elément par Page </label>
    <input type="text" id="maxSize" class="form-control" placeholder="Nombre d'élément par pages" ng-model="config.itemPerPage">
  </div>

<!-- MODAL -->

  <div class="form-group">
    <label ng-click="isCollapsed = !isCollapsed"> Paramètre Optionnel
      <span ng-hide="isCollapsed" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
      <span ng-show="isCollapsed" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
    </label>
  </div>

  <div ng-show="isCollapsed">

      <div >
        <label for="sample">Modal URL</label>
        <div ng-show="config.modalUrl" class="alert alert-info text-center" ng-bind-html="config.modalUrl">
        </div>
        <selecttree model="config.modalDatasource"> </selecttree>
      </div>

      <div>
        <label for="field"> Column to populate </label>
        <input type=text id="field" autocomplete="off" uib-typeahead="key for key in config.keys"  typeahead-min-length='0' ng-model="pt.config.modalField"></select>
      </div>
      <!-- typeahead-input-formatter="pt.formatLabel($model)"" -->
<!-- config.keys.indexOf(key) as -->

      <div>
        <label>Column</label>
      </div>

      <div class="form-inline padding-bottom" ng-repeat="modalCol in pt.config.modalColumns">
        <div class="form-group">
          <label class="sr-only" for="modalTitle-{{$index}}" data-placeholder="Titre">Title</label>
          <input type="text" id="modalTitle-{{$index}}" class="form-control" placeholder="Title" ng-model="modalCol.title" required="">
        </div>
        <div class="form-group">
          <label class="sr-only" for="modalPath-{{$index}}" data-placeholder="Path">Path</label>
          <input type="text" id="modalPath-{{$index}}" class="form-control" placeholder="Path" ng-model="modalCol.path" required="">
        </div>
        <button type="button" class="btn btn-warning" ng-click="pt.removeColumn(true, $index)">
          <i class="fa fa-minus"></i> Remove
        </button>
      </div>

      <button type="button" class="btn btn-primary" ng-click="pt.addColumn(true)">
        <i class="fa fa-plus"></i> Add
      </button>
  </div>



</form>
