<!-- Custom Template for autocompletion -->
<script type="text/ng-template" id="autocomplete.html">
  <a>
    <span ng-bind-html="match.model.url | uibTypeaheadHighlight:query"></span> |
    <small ng-bind-html="match.model.desc | uibTypeaheadHighlight:query"></small>
  </a>
</script>



<form role="form">

  <div class="form-group">
    <label class="sr-only" for="desc">Description</label>
    <input type="text" id="desc" class="form-control" ng-model="config.desc" placeholder="Enter Description of the data">
  </div>

  <hr>

  <div>
    <label class="ctm-label"> Choix du Serveur </label>
    <input type="text" uib-typeahead="serv as serv.description for serv in graph.getHost($viewValue)" typeahead-min-length=3 ng-model=config.hostId typeahead-on-select="graph.getGraphs(config.hostId.id)">
  </div>

  <div ng-if="graph.graphs.length">
    <label class="ctm-label" for=gList> Choix du Graph </label>
    <input type="text" uib-typeahead="g as g.title_cache for g in graph.graphs" typeahead-min-length=0 ng-model="config.graphId">
  </div>

</form>
