<!-- Custom Template for autocompletion -->
<script type="text/ng-template" id="autocomplete.html">
  <a>
    <span ng-bind-html="match.model.url | uibTypeaheadHighlight:query"></span> |
    <small ng-bind-html="match.model.desc | uibTypeaheadHighlight:query"></small>
  </a>
</script>



<form role="form">
  <div class="form-group">
    <label for="sample">Datasource</label>
    <div ng-show="config.url" class="alert alert-info text-center"> {{config.url}} </div>
    <selecttree model="config.datasource"></selecttree>
  </div>

  <div>
    <label> Graph </label>
  </div>

  <div class="form-group">
    <label class="sr-only" for="desc">Description</label>
    <input type="text" id="desc" class="form-control" ng-model="config.desc" placeholder="Description">
  </div>

  <input id=listener type="checkbox" ng-model="config.listener"> <label for=listener> Slave </label>

  <div>
    <label> Label </label>
  </div>

  <div class="form-group">
    <label class="sr-only" for="label">Label</label>
    <input type="text" id="label" class="form-control" ng-model="config.label" placeholder="Label" uib-typeahead="key for key in config.key" typeahead-min-length='0' autocomplete="off">
  </div>

  <div>
    <label> Value </label>
  </div>

  <div class="form-group">
    <label class="sr-only" for="value">Value</label>
    <input type="text" id="value" class="form-control" ng-model="config.value" placeholder="Données" uib-typeahead="key for key in config.key" typeahead-min-length='0' autocomplete="off">
  </div>

  <div>
    <label> Type de Graph </label>
  </div>

  <div class="form-group">
    <label class="sr-only" for="sample">Chart Type</label>
    <select class="form-control" ng-model="config.type">
      <option value="pie"> Pie </option>
      <option value="polarArea"> PolarArea </option>
      <option value ="doughnut"> Doughnut </option>
    </select>
  </div>

  <!-- <div>
    <label ng-click="isCollapsed = !isCollapsed"> Chart Option
      <span ng-hide="isCollapsed" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
      <span ng-show="isCollapsed" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
    </label>
  </div>

  <div ng-show="isCollapsed">
    <div>
      <label> Ok </label>
    </div>
  </div> -->

  <div>
    <input id=cbe type="checkbox" ng-model="expert"> <label for=cbe>Expert Mode</label>
  </div>

  <div ng-show="expert">
    <div class="form-group">
      <label class="sr-only" for="database"> Database </label>
      <input type="text" id="database" class="form-control" placeholder="Database" ng-model="config.database" uib-typeahead=" database for database in graph.getDatabase($viewValue)" typeahead-min-length='0'>
    </div>
    <div class="form-group">
      <label class="sr-only" for="query">Query</label>
      <textarea rows="3" id="query" class="form-control" placeholder="Query" ng-model="config.expert"></textarea>
    </div>
  </div>

</form>
