<!-- Custom Template for autocompletion -->
<script type="text/ng-template" id="autocomplete.html">
  <a>
    <span ng-bind-html="match.model.url | uibTypeaheadHighlight:query"></span> |
    <small ng-bind-html="match.model.desc | uibTypeaheadHighlight:query"></small>
  </a>
</script>



<form role="form">

  <div>
    <label> Description </label>
  </div>

  <div class="form-group">
    <label class="sr-only" for="desc">Description</label>
    <input type="text" id="desc" class="form-control" ng-model="config.desc" placeholder="Description">
  </div>

  <hr>

  <input type="radio" ng-model="config.mode" value="easy" id=easy> <label for=easy> Mode Facile </label>
  <input type="radio" ng-model="config.mode" value="std" id=std> <label for=std> Mode Standard </label>
  <input type="radio" ng-model="config.mode" value="exp" id=exp> <label for=exp> Mode Expert </label>

  <!-- Mode easy -->

  <div class="form-group" ng-if="config.mode == 'easy'">
    <easy-mode config=config><easy-mode>
  </div>


  <!-- Mode Standard -->

  <div class="form-group" ng-if="config.mode == 'std'">
    <div class="form-group">
      <label for="sample"> Datasources</label>
      <input id="sample" type="text" class="form-control" ng-model="config.databaseStandard" placeholder="Type du Check" autocomplete="off" uib-typeahead="database for database in graph.getDatabase($viewValue)" typeahead-min-length='0' typeahead-on-select="graph.getColumns(config.databaseStandard)">
    </div>

    <div class="form-group">
      <label for="sample"> Label</label>
      <input id="sample" type="text" class="form-control" ng-model="config.columnStandard" placeholder="" autocomplete="off" uib-typeahead="col as col.name for col in graph.column" typeahead-min-length='0'>
    </div>

    <div class="form-group">
      <label for="standardTest"> Condition :  </label>
    </div>

    <p ng-hide="config.principalCol.length"> Choissisez une datasource ! </p>

    <div ng-if="config.principalCol.length">
      <label> <small> Choix de la Référence </small> </label>
      <query-builder  group="config.condition.group" fields="config.principalCol" database="config.databaseStandard"></query-builder>
    </div>
    <div ng-if="config.condition.group.rules[0] && config.condition.group.rules[0].data">
      <label> <small> SEC </small></label>
      <query-builder  group="config.condition2.group" fields="config.otherCol" database="config.databaseStandard"></query-builder>
    </div>

    <showsql type="pie" config="config"></showsql>

  </div>

  <!-- Mode Expert -->

  <div ng-if="config.mode == 'exp'">
    <expert-mode config=config></expert-mode>
  </div>

  <hr>

  <div>
    <label> Configuration du Graph </label>
  </div>

  <input ng-if="config.mode == 'easy' || 'expert'" id=listener type="checkbox" ng-model="config.listener"> <label ng-if="config.mode == 'easy' || 'expert'" for=listener> Slave </label>
  <div ng-if=config.listener>
    <label>Master Column </label>
    <input type="text" ng-model="config.slaveValue">
  </div>

  <div>
    <label> Type de Graph </label>
  </div>

  <div class="form-group">
    <label class="sr-only" for="sample">Chart Type</label>
    <select class="form-control" ng-model="config.type">
      <option value="pie"> Camenbert </option>
      <option value="polarArea"> PolarArea </option>
      <option value ="doughnut"> Doughnut </option>
    </select>
  </div>

  <div>
    <label> Label (Configuration Automatique) </label>
  </div>

  <div class="form-group">
    <label class="sr-only" for="label">Label</label>
    <input type="text" id="label" class="form-control" ng-model="config.label" placeholder="Label" uib-typeahead="key for key in config.key" typeahead-min-length='0' autocomplete="off">
  </div>

  <div>
    <label> Value (Configuration Automatique)</label>
  </div>

  <div class="form-group">
    <label class="sr-only" for="value">Value</label>
    <input type="text" id="value" class="form-control" ng-model="config.value" placeholder="Données" uib-typeahead="key for key in config.key" typeahead-min-length='0' autocomplete="off">
  </div>

  <div>
    <label ng-click="isCollapsed = !isCollapsed"> Chart Option
      <span ng-hide="isCollapsed" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
      <span ng-show="isCollapsed" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
    </label>
  </div>

  <div ng-show="isCollapsed">
    <div>
      <input type="checkbox" ng-model="config.legend" id="legend"></input>
      <label for="legend"> Legende </label>
    </div>

    <!-- <div>
      <label> Position de la Legende </label>
    </div>
    <select ng-model=config.legendPosition>
      <option value="top" selected="selected"> Haut </option>
      <option value="bottom"> Bas </option>
      <option value="left"> Gauche </option>
      <option value="right"> Droite </option>
    </select> -->

    <div>
      <input type="checkbox" ng-model="config.pourcent" id="pouc"></input>
      <label for="pouc"> Afficher les pourcentages sur le Graph </label>
    </div>

    <div>
      <input type="checkbox" ng-model="config.pieValue" id="pieValue"></input>
      <label for="pieValue"> Afficher la valeur sur le Graph </label>
    </div>

    <label> Choix des Couleurs </label>

    <!-- <div ng-if="config.colorLabel" ng-repeat="l in config.colorLabel">
      <label> {{l}} </label>
      <color-picker ng-model="config.color[$index]" options="{format : 'hexString'}"></color-picker>
    </div> -->

    <div ng-repeat="l in config.colorLabel" ng-if="config.colorLabel && $index % 2 == 0" class="row">
      <div class="col-md-6">
        <label for="color"> {{l}} : </label>
        <color-picker ng-model="config.color[$index]" options="{required : false, format : 'hexString'}"></color-picker>
      </div>

      <div class="col-md-6" ng-if="config.colorLabel.length > $index +1" >
        <label for="color"> {{config.colorLabel[$index +1]}} : </label>
        <color-picker ng-model="config.color[$index+1]" options="{required : false, format : 'hexString'}"></color-picker>
      </div>
    </div>
    <div>
      <input type="checkbox" ng-model="config.v3d" id="v3d"></input>
      <label for="v3d"> 3D </label>
    </div>
  </div>



  </div>

</form>
