<!-- Custom Template for autocompletion -->
<script type="text/ng-template" id="autocomplete.html">
  <a>
    <span ng-bind-html="match.model.url | uibTypeaheadHighlight:query"></span> |
    <small ng-bind-html="match.model.desc | uibTypeaheadHighlight:query"></small>
  </a>
</script>



<form role="form">
  <!-- <div class="form-group">
    <label for="sample">Datasource</label>
    <div ng-show="config.url" class="alert alert-info text-center"> {{config.url}} </div>
    <selecttree model="config.datasource"></selecttree>
  </div> -->

  <input type="radio" ng-model="config.mode" value="easy" id=easy> <label for=easy> Mode Facile </label>
  <input type="radio" ng-model="config.mode" value="exp" id=exp> <label for=exp> Mode Expert </label>

  <div class="form-group" ng-if="config.mode == 'easy'">
    <easy-mode config=config><easy-mode>
  </div>

  <div ng-if="config.mode == 'exp'">
    <expert-mode config=config></expert-mode>
  </div>

  <hr>

  <input type="checkbox" ng-model="config.listener"> <label> Slave </label>
  <div ng-if="config.listener">
    <label> Master Column </label>
    <input type="text" ng-model="config.slaveValue">
    <hr>
  </div>

  <div>
    <label> Donnée </label>
  </div>


  <div class="form-group">
    <label class="sr-only" for="sample">Principal Data</label>
    <select ng-model="config.root" class="form-control">
      <option ng-repeat="el in config.list" value="{{el}}"> {{el}} </option>
    </select>
  </div>

  <div class="form-group">
    <label for="desc">Label</label>
    <input type="text" id="desc" class="form-control" ng-model="config.desc" placeholder="Entrer la description de la donnée">
  </div>

  <hr>

  <label> Formatage </label>

  <div>
    <input id=percent type=radio ng-model="config.format" value="percent"> <label for=percent> Pourcentage </label>
    <input id=custom type=radio ng-model="config.format" value=custom> <label for=custom> Custom </label>
  </div>

  <div ng-if="config.format == 'custom'">
    <div class="row">
      <div class="col-md-6">
        <label> Prefix </label>
        <input type="text" ng-model=config.custom.prepend>
      </div>
      <div class="col-md-6">
        <label> Suffixe </label>
        <input type="text" ng-model=config.custom.append>
      </div>
    </div>
  </div>

  <label> Seuil </label>

  <div class="form-inline padding-bottom">
    <select ng-model="config.seuilOp">
      <option value="Sup"> Sup </option>
      <option value="Inf"> Inf </option>
      <option value="Eg"> Eg </option>
    </select>
    <input type="text" ng-model="config.seuilVal">
  </div>

  <div>
    <label ng-click="isCollapsed3 = !isCollapsed3"> Paramètre Optionnel
      <span ng-hide="isCollapsed3" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
      <span ng-show="isCollapsed3" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
    </label>
  </div>

  <div ng-show="isCollapsed3">

    <div>
      <label for="field"> Column to populate </label>
    </div>

    <div class="form-inline padding-bottom" ng-repeat="c in sv.config.colToPop">
      <div class="form-group">
          <input type=text id="field" autocomplete="off" uib-typeahead="key for key in config.list"  typeahead-min-length='0' ng-model="c.name"></select>
      </div>
      <button type="button" class="btn btn-warning" ng-click="sv.removeColToPop($index)">
        <i class="fa fa-minus"></i> Remove
      </button>
    </div>

    <button type="button" class="btn btn-primary" ng-click="sv.addColToPop()">
      <i class="fa fa-plus"></i> Add
    </button>

    <hr>

    <my-link config="config"></my-link>

    <hr>

    <div> <label> Modal Configuration </label> </div>

    <modal-config config=config.modal></modal-config>
  </div>
</form>
