<!-- Custom Template for autocompletion -->
<script type="text/ng-template" id="autocomplete.html">
  <a>
    <span ng-bind-html="match.model.url | uibTypeaheadHighlight:query"></span> |
    <small ng-bind-html="match.model.desc | uibTypeaheadHighlight:query"></small>
  </a>
</script>



<form role="form">
  <div class="form-group">
    <label for="sample">URL</label>
    <input type="text" class="form-control" ng-model="config.url" placeholder="Enter url" uib-typeahead="address as address.url for address in getAutocompletion($viewValue)" typeahead-template-url="autocomplete.html" typeahead-loading="load" typeahead-no-result="noResults">
  </div>


  <div>
    <label> Principal Data </label>
  </div>

  <div class="form-inline padding-bottom">
    <div class="form-group">
      <label class="sr-only" for="desc">Description</label>
      <input type="text" id="desc" class="form-control" ng-model="config.desc" placeholder="Enter Description of the data">
    </div>
    <div class="form-group">
      <label class="sr-only" for="sample">Principal Data</label>
      <input type="text" class="form-control" ng-model="config.root" placeholder="Enter name of principal data">
    </div>
  </div>

  <div>
    <label>Additional Data</label>
  </div>

  <div class="form-inline padding-bottom" ng-repeat="col in sv.config.columns">
    <div class="form-group">
      <label class="sr-only" for="title-{{$index}}"> Title </label>
      <input type="text" id="title-{{$index}}" class="form-control" placeholder="Title" ng-model="col.title" required="">
    </div>
    <div class="form-group">
      <label class="sr-only" for="path-{{$index}}">Path</label>
      <input type="text" id="path-{{$index}}" class="form-control" placeholder="Path" ng-model="col.path" required="">
    </div>
    <button type="button" class="btn btn-warning" ng-click="sv.removeColumn($index)">
      <i class="fa fa-minus"></i> Remove
    </button>
  </div>

  <button type="button" class="btn btn-primary" ng-click="sv.addColumn()">
    <i class="fa fa-plus"></i> Add
  </button>

</form>
